body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.navbar button{
    padding: 12px 24px;

}

h1{
    color:black;
    font-size: 40px;
}

p{
    font-size: 20px;
    color: navy;
}