body{
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px;
}

h1{
    color:black;
    font-size: 40px;
}

p{
    font-size: 20px;
    color: navy;
}